---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import ContactMeForm from "../components/ContactMeForm";
---

<Layout title="Daniel's projects">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe hideDescription={true} />
    <div class="lg:w-1/2 gap-y-4 flex flex-col px-4 pt-16 lg:pt-0">
      <p class="text-base mb-1 text-zinc-400">
        Ready to transform your digital presence with state-of-the-art software
        solutions?
      </p>
      <p class="text-sm mb-4 text-zinc-400">
        Whether it's building dynamic web applications, crafting intuitive
        mobile apps, or deploying scalable cloud services, I'm here to turn your
        vision into reality
      </p>

      <ContactMeForm client:only="solid" />
    </div>
  </div>
</Layout>
