---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel's projects">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe />
    <div class="lg:w-1/2 gap-y-4 flex flex-col px-4 pt-16 lg:pt-0">
      COntact me
    </div>
  </div>
</Layout>
