---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Welcome to Daniel's page">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe />
    <div class="w-1/2">
      <p class="text-base text-zinc-400 mb-4">
        Back in 2015, I graduated as an Automation Engineer. After spending time
        programming embeeded systems, I was so hooked up into software
        developement that I sought an internship as a software engineer.
        Fast-forward to today, and I've had the privilege of building software
        for a <a class="font-bold" href="https://www.ottointelligence.co/"
          >pre-seed start-up</a
        >, as well as <a class="font-bold" href="https://www.icasei.com.br/"
          >mid-size</a
        > and <a class="font-bold" href="https://couriers.skipthedishes.com/"
          >large corporations</a
        >.
      </p>

      <p class="text-base text-zinc-400 mb-4">
        My main focus these days is building products and leading projects for
        my current company Openscreen Inc. In my free time get up to date with
        the latests technologies and try to learn new things.
      </p>
      <p class="text-base text-zinc-400">
        When I'm not at the computer, I'm usually biking, hiking, or skiing
        during winter time.
      </p>
    </div>
  </div>
</Layout>
