---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import OttoLanding from "../images/ottointelligence.jpg";
import MeetOttoLanding from "../images/meetotto.jpg";
import TuiDo from "../images/tuido.png";

const projects = [
  {
    thumbnail: OttoLanding,
    title: "Dang Language",
    description:
      "Wrote my own interpreter in Rust. It has a very similar sintax to Javascript, but I'm making some changes for it to become more Typescript-y.",
    technologies: ["Rust"],
  },
  {
    thumbnail: TuiDo,
    title: "Tui-Do",
    description:
      "To do app written in Rust, operated in the terminal and uses SQLite as main database.",
    technologies: ["Rust"],
  },
  {
    thumbnail: OttoLanding,
    title: "Otto Intelligence App.",
    description:
      "Portfolio manager developer during my time at Otto. I was the main developer for this project.",
    technologies: ["React", "Tailwind"],
  },
  {
    thumbnail: MeetOttoLanding,
    title: "Mett Otto App.",
    description: "Custom CRM for Otto Intelligence.",
    technologies: ["React", "Tailwind", "trpc"],
  },
];
---

<Layout title="Daniel's projects">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe />
    <div class="lg:w-1/2 gap-y-4 flex flex-col px-4 pt-16">
      {projects.map((job) => <ProjectCard {...job} />)}
    </div>
  </div>
</Layout>
