---
import AboutMe from "../components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

const projects = [
  {
    period: "2023 - Current",
    title: "Dang Language",
    description:
      "Wrote my own interpreter in Rust. Inspired by Javascript. I want it to become more Typescript-y, but there's a lot of work to do.",
    technologies: ["Rust"],
  },
  {
    period: "2023 - Current",
    title: "Tui-Do",
    description:
      "To do app written in Rust, operated in the terminal and uses SQLite as main database.",
    technologies: ["Rust"],
  },
  {
    period: "2021 - 2023",
    title: "Otto Intelligence App.",
    description: "Portfolio manager developer during my time at Otto.",
    technologies: ["React", "Tailwind"],
  },
  {
    period: "2021 - 2023",
    title: "Mett Otto App.",
    description:
      "Custom CRM for Otto Intelligence. I was the main developer for this project.",
    technologies: ["React", "Tailwind", "trpc"],
  },
];
---

<Layout title="Daniel's projects">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe />
    <div class="w-1/2 gap-y-4 flex flex-col">
      {projects.map((job) => <ProjectCard {...job} />)}
    </div>
  </div>
</Layout>
