---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Welcome to Daniel's page">
  <div class="lg:flex lg:justify-between lg:gap-4">
    <AboutMe />
    <div class="lg:w-1/2 px-4 pt-16 lg:pt-0">
      <p class="text-base mb-2">
        Daniel Yang - Versatile Software Development Services
      </p>
      <p class="text-sm lg:text-base text-zinc-400 mb-4">
        Elevate your business with my comprehensive freelance software
        development services. Specializing in both web and mobile app
        development, I deliver <strong>sleek</strong>, <strong
          >responsive</strong
        >, and <strong>functional digital</strong> experiences tailored to your
        unique needs. With expertise in modern frameworks and languages like
        Typescript and Javascript, and a penchant for both front-end flair and
        robust back-end systems, your project will be crafted to the highest
        standards of quality and innovation.
      </p>

      <p class="text-sm lg:text-base text-zinc-400 mb-4">
        Harness the power of the cloud with bespoke solutions designed for
        scalability and performance. My services extend to cloud infrastructure
        setup and management, utilizing platforms such as AWS and Google
        Firebase to ensure your operations are seamless and secure. Integrations
        with services like Stripe for payments and real-time systems development
        for enhanced operational communication are also part of the package.
      </p>
      <p class="text-sm lg:text-base text-zinc-400">
        As a freelancer, I offer the agility and personalized attention your
        projects deserve. Whether it's transforming ideas into compelling
        applications, migrating legacy systems to cutting-edge technologies, or
        creating the infrastructural backbone for your tech needs, I bring a
        wealth of experience and a proactive approach to every challenge. Let's
        collaborate to build software solutions that drive your business
        forward.
      </p>
    </div>
  </div>
</Layout>
